BOT_TOKEN=
MONGODB_URL=mongodb://localhost:27017
APP_ID=
APP_HASH=
VERTEX_PROJECT_ID=
VERTEX_LOCATION=global
GOOGLE_APPLICATION_CREDENTIALS_BASE64=
ALLOWED_CHAT_IDS=
MAX_MEDIA_SIZE=5242880
DEFAULT_MODEL=gemini-2.0-flash
IMAGE_MODEL=gemini-3.0-flash-preview
HIGH_IMAGE_MODEL=gemini-3.1-flash-image-preview
TELEGRAPH_ACCESS_TOKEN=
PERPLEXITY_JWT=
EXCHANGERATE_API_KEY=